15,45 * * * * root if ! pgrep update.sh; then /home/nod32/update.sh >> /var/log/nod32.log; fi
30 20 * * * root if ! pgrep update.sh; then /home/nod32/update.sh --flush >> /var/log/nod32.log; /home/nod32/update.sh >> /var/log/nod32.log; fi
